.head_sphere{
    width: 100%;
    background-color: #12372a;
    border-radius: .7em;
}
.sphere_area{
    position: sticky;
    top: 1vw;
}
.sphere_area #nav-footer-titlebox{
    color: #e9edee;
    font-weight: 500;
    font-size: 1.2em;
}
.sphere_post{
    width: 100%;
    background-color: #adbc9f;
    border-radius: .7em;
}
.sphere_post_buttons{
    padding: .5em;
    padding-top: 0;
}

.content_sphere{
    width: 100%;
    height: 200vh;
}

/* void area */
.head_void_area{
    position: sticky;
    top: 1vw;
    height: calc(100vh - 2vw);
    width: 100%;
    background-color: #12372a;
    border-radius: .7em;
}
.sphere_it_button button{
    border: 1px solid #12372a;
    color: #12372a;
    background-color: transparent;
    font-weight: 600;
    padding: .3em .9em;
    border-radius: .4em;
}
.sphere_it_button button:hover{
    background-color: #12372a;
    color: #adbc9f;
}