{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div class="col-md-12">
    <br>
    <span class="blogs_head">Food Calories Calculator</span>
    <hr><br>
    <div class="row">
        <div class="col-md-6">
            <form role="search" method="get" action="{% url 'material:calorie' %}">
                <p>Enter a query like <span style="color: blueviolet;font-weight: 700;">" 1 cup mashed potatoes and 2
                        tbsp gravy "</span> to see how it works. We support tens of thousands of foods, including
                    international dishes.</p>
                {% csrf_token %}
                <textarea name="dishes" id="dishes" cols="10" rows="6" class="col-md-12"></textarea>
                <button class="btn">Calculate Foods</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <style>
                        tr{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                        table{
                            width: 100%;
                        }
                    </style>
                    <span class="blogs_head" style="font-weight: 700;">Nutrition Facts</span>
                    <hr style="border: 2px solid black;">
                    <span>Amount Per Serving</span><br>
                    <span style="display: flex;align-items: center;justify-content: space-between;font-weight: 700;font-size: 1.2em;">
                        <span>Calories</span>
                        <span>{{calorie_data.foods.nf_calories}}</span>
                    </span>
                    <hr style="border: 2px solid black;">
                    <table>
                        <tr style="font-weight: 700;">
                            <td>Total Fat</td>
                            <td>14g (22%)</td>
                        </tr>
                        <tr>
                            <td>Saturated Fat</td>
                            <td>3.3g (16%)</td>
                        </tr>
                        <tr>
                            <td>Trans Fat</td>
                            <td>1.1g (63%)</td>
                        </tr>
                        <tr style="font-weight: 700;">
                            <td>Cholesterol</td>
                            <td>190mg (63%)</td>
                        </tr>
                        <tr style="font-weight: 700;">
                            <td>Sodium</td>
                            <td>881mg (36%)</td>
                        </tr>
                        <tr style="font-weight: 700;">
                            <td>Total Carbohydrates</td>
                            <td>37g (12%)</td>
                        </tr>
                        <tr>
                            <td>Dietary Fiber</td>
                            <td>3.2g (13%)</td>
                        </tr>
                        <tr>
                            <td>Sugars</td>
                            <td>3.2g</td>
                        </tr>
                        <tr style="font-weight: 700;">
                            <td>Protein</td>
                            <td>11g</td>
                        </tr>
                        <tr>
                            <td>Vitamin D</td>
                            <td>1.4mcg (7%)</td>
                        </tr>
                        <tr>
                            <td>Calcium</td>
                            <td>75mg (6%)</td>
                        </tr>
                        <tr>
                            <td>Iron</td>
                            <td>1.4mg (8%)</td>
                        </tr>
                        <tr style="font-weight: 700;">
                            <td>Potassium</td>
                            <td>765.6mg (16%)</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}