{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

<div class="col-md-12 full-page" style="overflow: hidden;">
    <br>
    <span class="blogs_head">Sanitas Materials</span><hr><br>
    <div class="col-md-12 card-container">
        <!-- Card 1: Disease Information -->
        <div class="row">
            <div class="col-md-4 col-12 mb-4">
                <div class="card">
                    <img src="../../static/assets/images/material/virus.jpg" style="max-height: 10em;object-fit: contain;" class="card-img-top" alt="Disease Image">
                    <div class="card-body">
                        <h5 class="card-title">Disease Information</h5>
                        <p class="card-text">Get detailed insights into various diseases and their symptoms.</p>
                        <a href="{% url 'material:disease' %}" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../../static/assets/images/material/medic.png" style="max-height: 10em;object-fit: contain;" class="card-img-top" alt="Disease Image">
                    <div class="card-body">
                        <h5 class="card-title">Medicine Information</h5>
                        <p class="card-text">Get detailed insights into various Medicine and their Side-Effects.</p>
                        <a href="{% url 'material:medicine' %}" class="btn btn-primary">View More</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../../static/assets/images/material/resource.png" style="max-height: 10em;object-fit: contain;" class="card-img-top" alt="Disease Image">
                    <div class="card-body">
                        <h5 class="card-title">Resources</h5>
                        <p class="card-text">Discover recommended books and educational clips</p>
                        <a href="{% url 'material:resource' %}" class="btn btn-primary">View More</a>
                    </div>
                </div>
            </div> -->
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="../../static/assets/images/material/calories.jpg" style="max-height: 10em;object-fit: contain;" class="card-img-top" alt="Disease Image">
                    <div class="card-body">
                        <h5 class="card-title">Nutrients & Calories</h5>
                        <p class="card-text">To Know a balanced diet and calculate your workout calories</p>
                        <a href="{% url 'material:calorie' %}" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12 recent-blog">
                    <span class="blogs_head">Blogs</span><hr><br>
                        {% for p in blogs %}
                        <div class="item mx-1 col-md-12">
                            <div class="card" style="overflow: hidden;">
                                <div class="row col-md-12 col-12">
                                    <a class="col-md-4" href="{% url 'creation:blog-detail' p.id %}">
                                        <img class="col-md-4 col-4" src="{{ p.image.url }}" class="card-img-top" alt="..." style="min-width: 100%;max-height: 260px;object-fit: cover;">
                                    </a>
                                    <div class="card-body col-md-8 col-8" style="padding: 10px;">
                                        <div class="my-1">
                                            <div class="ck ck-content" style="max-height: 100px;overflow: hidden;">{{ p.content|safe }}</div>
                                        </div>
                                        <time datetime="{{ p.date_posted }}" style="color: var(--navbar-dark-primary); font-size: 0.9em;">
                                            <i class="fas fa-calendar-alt mr-2"></i><span style="margin-left: .2em;">{{ p.date_posted }}</span>
                                        </time>
                                        <div class="col-md-12" style="margin-top: 10px;">
                                            <a href="{% url 'creation:blog-detail' p.id %}" class="btn btn-primary">Read More</a>
                                            <a href="{% url 'creation:like-post' pk=p.id %}" class="btn btn-secondary"><i class="fa-solid fa-thumbs-up"></i><span style="margin-left: .2em;">{{ p.likes.count }}</span></a>
                                            <a href="{% url 'creation:blog-detail' p.id %}" class="btn btn-secondary"><i class="fa-solid fa-message"></i><span style="margin-left: .2em;">{{ comments.count }}</span></a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        {% endfor %}
                </div>
                
                <style>
                    .pagination-outer {
                        text-align: center;
                    }
                
                    .pagination {
                        display: inline-flex;
                        position: relative;
                    }
                
                    .pagination:before {
                        content: "";
                        width: 100%;
                        height: 2px;
                        background: #e8e8e8;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                
                    .pagination li a.page-link {
                        padding: 5px 15px;
                        margin-right: 15px;
                        background: var(--navbar-light-secondary);
                        border: 1px solid #e8e8e8;
                        border-radius: 5px;
                        box-shadow: 0 8px 6px -9px #5b5f5f;
                        font-size: 17px;
                        color: #686c6c;
                    }
                
                    .pagination li:first-child a.page-link {
                        margin-right: 30px;
                    }
                
                    .pagination li:last-child a.page-link {
                        margin: 0 0 0 15px;
                    }
                
                    .pagination li.active a.page-link,
                    .pagination li a.page-link:hover {
                        background: var(--navbar-dark-secondary);
                        border-color: var(--navbar-dark-primary);
                        color: #fff;
                    }
                
                    @media only screen and (max-width: 479px) {
                        .pagination {
                            display: block;
                            overflow: auto;
                        }
                
                        .pagination:before {
                            display: none;
                        }
                
                        .pagination li {
                            display: inline-block;
                        }
                    }
                </style>
                
                <div class="demo">
                    <nav class="pagination-outer" aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item">
                                {% if blogs.has_previous %}
                                <a href="?page={{ blogs.previous_page_number }}" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">Prev</span>
                                </a>
                                {% endif %}
                            </li>
                            <li>
                                {% for page in paginator.page_range %}
                                {% if page == paginator.number %}
                                <li class="page-item active"><a class="page-link">{{ page }}</a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{page}}">{{ page }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </li>
                            <li>
                                {% if blogs.has_next %}
                                <a href="?page={{ blogs.next_page_number }}" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}