{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div class="col-md-12">
    <br>
    <div class="row">
        <div class="col-md-4 px-2">
            <div class="card px-3">
                <iframe style="min-height: 12em;" src="https://www.youtube.com/embed/XCrOde-JYs0?si=4EV7NEFp4o-kJqzz" frameborder="0" allow="accelerometer;" allowfullscreen></iframe>
                <div class="card-title" style="max-height: 7em;overflow: hidden;">
                    <br>
                    <span><b>Ebola</b> : This animated story is told by a young girl whose grandfather dies from Ebola and puts the rest of her family at risk. It brings to life the many messages that are so crucial in understanding this disease on a community level.</span>
                </div>
                <div style="color: white;box-shadow: 0px 0px 8px 14px white;width: 100%;"></div>
            </div>
        </div>
        <div class="col-md-4 px-2">
            <div class="card px-3">
                <iframe style="min-height: 12em;" src="https://www.youtube.com/embed/w5HvxsOo00E?si=aC2OII6HRjQdyFJB" frameborder="0" allow="accelerometer;" allowfullscreen></iframe>
                <div class="card-title" style="max-height: 7em;overflow: hidden;">
                    <br>
                    <span><b>Ebola</b> : This animated story is told by a young girl whose grandfather dies from Ebola and puts the rest of her family at risk. It brings to life the many messages that are so crucial in understanding this disease on a community level.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-2">
            <div class="card px-3">
                <iframe style="min-height: 12em;" src="https://www.youtube.com/embed/w5HvxsOo00E?si=aC2OII6HRjQdyFJB" frameborder="0" allow="accelerometer;" allowfullscreen></iframe>
                <div class="card-title" style="max-height: 7em;overflow: hidden;">
                    <br>
                    <span><b>Ebola</b> : The film makes the invisible coronavirus visible, and helps people grasp transmission in a simple and visual way. Through our experience with our animated films on cholera and Ebola</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}