{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div class="col-md-12">
    <br>
    <div class="row resources">
        <div class="col-md-4 px-2">
            <div class="card px-3">
                <iframe style="min-height: 12em;" src="https://www.youtube.com/embed/XCrOde-JYs0?si=4EV7NEFp4o-kJqzz" frameborder="0" allow="accelerometer;" allowfullscreen></iframe>
                <div class="card-title">
                    <br>
                    <span><b>Ebola</b> : This animated story is told by a young girl whose grandfather dies from Ebola and puts the rest of her family at risk. It brings to life the many messages that are so crucial in understanding this disease on a community level.</span>
                </div>
                <div class="blank"></div>
            </div>
        </div>
        <div class="col-md-4 px-2">
            <div class="card px-3">
                <iframe style="min-height: 12em;" src="https://www.youtube.com/embed/lXfEK8G8CUI?si=abALatCSruVfbYLc" frameborder="0" allow="accelerometer;" allowfullscreen></iframe>
                <div class="card-title">
                    <br>
                    <span><b>Immune System</b> : The human immune system is the most complex biological system we know, after the human brain, and yet, most of us never learn how it works. Or what it is.</span>
                </div>
                <div class="blank"></div>
            </div>
        </div>
        <div class="col-md-4 px-2">
            <div class="card px-3">
                <iframe style="min-height: 12em;" src="https://www.youtube.com/embed/w5HvxsOo00E?si=aC2OII6HRjQdyFJB" frameborder="0" allow="accelerometer;" allowfullscreen></iframe>
                <div class="card-title">
                    <br>
                    <span><b>Corona</b> : The film makes the invisible coronavirus visible, and helps people grasp transmission in a simple and visual way. Through our experience with our animated films on cholera and Ebola</span>
                </div>
                <div class="blank"></div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}