{% load static %}
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <br>
    <div class="row">
        <table class="col-md-7 col-12" style="overflow: hidden;">
            <thead>
                <tr class="col-md-12 row text-center mb-3">
                    <th class="col-md-4 col-4" style="border-bottom: 1px solid grey;">Serial Number</th>
                    <th class="col-md-4 col-4" style="border-bottom: 1px solid grey;">Disease Name</th>
                    <th class="col-md-4 col-4" style="border-bottom: 1px solid grey;">Cases</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
                <tr class="col-md-12 col-12 row text-center mb-2">
                    <td class="col-md-4 col-2">{{ forloop.counter }}.</td>
                    <td class="col-md-4 col-5">{{ form.name }}</td>
                    <td class="col-md-4 col-5">{{ form.cases }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="col-md-5 col-12">
            <img loading="lazy" src="../../static/assets/images/sanitizers/dataSub.svg" alt="">
        </div>
    </div>
    <br>
    <button style="padding: .2em .5em;" class="btn mb-3" type="submit">Submit</button>
</form>