@media (max-width:500px){
    .nav-bar:nth-child(1){
        display: none;
    }
    body .navbar{
        display: block;
    }
    .nav-bar:nth-child(2),
    .navbar{
        width: calc(100%);
        height: 54px;
        position: fixed;
        bottom: 0vh;
        background: var(--navbar-dark-primary);
        color: var(--navbar-light-primary);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        overflow: hidden;
        user-select: none;
    }
    .contain-itmes {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 40px;
        position: relative;
    }

    #nav-highlight {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20%;
        height: 42px;
        background: var(--background);
        background-attachment: fixed;
        border-radius: 16px 16px 16px 16px;
        transition: transform 0.2s;
        transform: translateX(0%);
    }
    .nav-button{
        margin-left: 0;
    }
    .blogs_head{
        font-size: 1em;
    }
    .donuts .donutsText{
        font-size: 1.4em;
    }
    .threads .btn,
    .home .btn{
        font-size: .7em;
        padding: 0 .5em;
    }
    .cityLocate{
        display: block;
    }
    .ultra li span,
    .ultra li a,
    .ultra li strong{
        font-size: .7em;
    }
    .about-us-para p{
        font-size: .7em;
    }
    .space-filler{
        height: 54px;
        width: 100%;
    }
    .pagination li a.page-link {
        font-size: 12px;
    }
    .nav-button a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-button a {
        color: var(--navbar-light-secondary);
    }
    .nav-button.active a {
        color: white;
    }
    .featured-map .map-hometext{
        font-size: .8em;
    }
    .map-home .row .col-12 p{
        font-size: .8em;
    }
    .full-page .col-md-12 .row .card .card-title{
        font-size: 1em;
    }
    .full-page .col-md-12 .row .card .card-text{
        font-size: .8em;
    }
    .profile-background{
        height: 14em;
    }
    .profile-image {
        width: 8em;
        height: 8em;
        top: 9em;
        margin-left: 1em;
    }
    .grp-btns {
        bottom: .5em;
        right: .5em;
        flex-direction: column;
    }
    .edit-profile{
        font-size: .8em;
    }
    .basicInfo .col-6{
        font-size: .8em;
    }
    .postProfile .col-9,
    .postProfile .col-6,
    .postProfile .col-3{
        font-size: .8em;
    }
    .postProfile .col-3:last-child{
        display: none;
    }
    .postProfileDetail span{
        font-size: .8em;
    }
    .postProfileDetail table th{
        font-size: .8em;
    }
    .choosingImage{
        left:0em;
    }
    .choosingImage input{
        width: 150px;
    }
    .add-btn{
        font-size: 1em;
        padding: em;
    }
    #cityStateForm{
        font-size: .8em;
    }
    .computer-frame{
        display: none;
    }
}