{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<div>
    <div class="col-md-12">
        <br>
        <span class="blogs_head">Today's Cases of Top 7 Diseases!!</span><hr><br>
        <div class="row">
            <div class="col-md-3 donuts">
                <canvas id="donutChart1" width="100" height="100"></canvas>
                <span class="donutsText">400<span class="material-symbols-outlined">straight </span></span>
            </div>
            <div class="col-md-3 donuts">
                <canvas id="donutChart2" width="100" height="100"></canvas>
                <span class="donutsText">300<span class="material-symbols-outlined">straight </span></span>
            </div>
            <div class="col-md-3 donuts">
                <canvas id="donutChart3" width="100" height="100"></canvas>
                <span class="donutsText">500<span class="material-symbols-outlined">straight </span></span>
            </div>
            <div class="col-md-3 donuts">
                <canvas id="donutChart4" width="100" height="100"></canvas>
                <span class="donutsText">250<span class="material-symbols-outlined">straight </span></span>
            </div>
            <div class="col-md-3 donuts">
                <canvas id="donutChart5" width="100" height="100"></canvas>
                <span class="donutsText">350<span class="material-symbols-outlined">straight </span></span>
            </div>
            <div class="col-md-3 donuts">
                <canvas id="donutChart6" width="100" height="100"></canvas>
                <span class="donutsText">350<span class="material-symbols-outlined">straight </span></span>
            </div>
            <div class="col-md-3 donuts">
                <canvas id="donutChart7" width="100" height="100"></canvas>
                <span class="donutsText">350<span class="material-symbols-outlined">straight </span></span>
            </div>
            <div class="col-md-3 donuts">
                <div class="measure-btns">
                    <a href="" class="btn"><i class="material-symbols-outlined">home_health</i> Preventives</a>
                    <a href="" class="btn"><i class="material-symbols-outlined">headset_mic</i> Consult</a>
                    <a href="" class="btn"><i class="material-symbols-outlined">Travel_Explore</i> See Your Area</a>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div style="position: relative;">
        <span class="blogs_head">Last 15 Days Cases of Top 5 Diseases!!</span><hr><br>
        <canvas id="secondChart"></canvas>
        <select id="disease">
            <option value="dengue">Dengue</option>
            <option value="malaria">Malaria</option>
            <option value="chikungunya">Chikungunya</option>
        </select>
    </div><br>
    <br>
    <span class="blogs_head">Analytics!!</span><hr><br>
    <canvas id="firstChart"></canvas><br>
    <br>
    <div style="position: relative;">
        <span class="blogs_head">States Analytics!!</span><hr><br>
        <canvas id="horizontalChart"></canvas>
        <select id="diseaseSelect" onchange="updateChart()">
            <option value="dengue">Dengue</option>
            <option value="malaria">Malaria</option>
            <option value="chikungunya">Chikungunya</option>
        </select>
    </div>
</div>

{% endblock content %}