{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<script src="https://apis.mapmyindia.com/advancedmaps/v1/9440dc184957cb68062acbd0187f20f5/map_load?v=1.5&plugin=cluster"></script>
<link rel="stylesheet" href="css/MarkerCluster.css" />
<link rel="stylesheet" href="css/MarkerCluster.Default.css" />
<script>
    var hospitals = [
        { lat: 20.286186559784422, lng: 85.78248361820786, name: "Hospital A", address: "Address A, City, State", contact: "1234567890", services: "General Medicine, Pediatrics", image: "../../static/assets/images/sanitizers/san1.jpg" },
        { lat: 20.29198294302376, lng: 85.79758981819967, name: "Clinic B", address: "Address B, City, State", contact: "0987654321", services: "Dermatology", image: "../../static/assets/images/sanitizers/san1.jpg" },
    ];

    var map = null;
    var markersLayer;

    window.onload = function () {
        map = new MapmyIndia.Map('map-container', { center: [20.293944, 85.744450], zoomControl: true, hybrid: true, zoom: 10 });
        markersLayer = L.layerGroup();

        hospitals.forEach(function(hospital) {
            var pt = new L.LatLng(hospital.lat, hospital.lng);
            var markerIcon = L.icon({
                iconUrl: '../../static/assets/images/sanitizers/icon.png',
                iconSize: [30, 36],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
            });
            var marker = new L.marker(pt, { icon: markerIcon, draggable: true });
            var popupContent = `<b>${hospital.name}</b><br><img src="${hospital.image}" alt="Hospital Image" style="max-width: 100%; height: auto;border-radius:.3em;min-width:10em;z-index:0;">${hospital.address}<br>Contact: ${hospital.contact}<br>Services: ${hospital.services}<br>`;
            marker.bindPopup(popupContent);
            markersLayer.addLayer(marker);
        });

        var cluster = L.markerClusterGroup({ spiderfyOnMaxZoom: false, showCoverageOnHover: false, zoomToBoundsOnClick: false, disableClusteringAtZoom: 15, maxClusterRadius: 50, iconCreateFunction: function(cluster) {
            return L.divIcon({ html: '<div style="background-color: #ef6356; border-radius: 50%;height:14px;width:14px;display:flex;align-items:center;justify-content:center;box-shadow:0 0 5px 5px #ef6356;"><span style="color:white;font-weight:600;">' + cluster.getChildCount() + '</span></div>', className: 'marker-cluster-custom', iconSize: [40, 40] });
        } });
        cluster.addLayer(markersLayer);

        map.addLayer(cluster);
    };

</script>
<div id="map-container"></div>

{% endblock content %}
