{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
    html {
        height: 100%;
    }

    body {
        height: 100%;
        font-family: Verdana, sans-serif, Arial;
        color: #000;
        margin: 0;
        font-size: 14px;
        padding: 0;
    }

    #map-container {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #cccccc;
    }

    #result {
        position: absolute;
        left: 2px;
        top: 46px;
        width: 306px;
        bottom: 2px;
        border: 1px solid #cccccc;
        background-color: #FAFAFA;
        overflow: auto;
        font-family: Verdana, sans-serif, Arial;
    }

    button {
        width: 220px;
        font-family: Verdana, sans-serif, Arial;
        font-size: 12px;
        padding: 2px 0;
        color: #333
    }
    .search-box,
    #bignav {
        z-index: 1000;
    }
    .search-box input {
        background-color: var(--navbar-light-secondary);
        border: 1px solid var(--navbar-dark-primary);
    }

    .search-box .btn {
        background-color: var(--navbar-light-secondary);
    }

    #flsc_dv {
        margin-top: 5em;
        margin-right: .4em;
    }
</style>

<script
    src="https://apis.mapmyindia.com/advancedmaps/v1/9440dc184957cb68062acbd0187f20f5/map_load?v=1.5&plugin=cluster"></script>
<link rel="stylesheet" href="css/MarkerCluster.css" />
<link rel="stylesheet" href="css/MarkerCluster.Default.css" />
<script>
    // Updated array to include details for each hospital
    var hospitals = [
        { lat: 20.286186559784422, lng: 85.78248361820786, name: "Hospital A", address: "Address A, City, State", contact: "1234567890", services: "General Medicine, Pediatrics" },
        { lat: 20.29198294302376, lng: 85.79758981819967, name: "Clinic B", address: "Address B, City, State", contact: "0987654321", services: "Dermatology" },
        // Add more hospitals/clinics here
    ];

    var map = null;
    var markerClusters;

    window.onload = function () {
        map = new MapmyIndia.Map('map-container', { center: [20.293944, 85.744450], zoomControl: true, hybrid: true, zoom: 10 });
        markerClusters = L.markerClusterGroup({ chunkedLoading: true, maxClusterRadius: 100, disableClusteringAtZoom: 26, singleMarkerMode: false });

        var markers = hospitals.map(function(hospital, index) {
            var pt = new L.LatLng(hospital.lat, hospital.lng);
            var marker = new L.marker(pt, { draggable: true });
            var popupContent = `<b>${hospital.name}</b><br>${hospital.address}<br>Contact: ${hospital.contact}<br>Services: ${hospital.services}`;
            marker.bindPopup(popupContent);
            return marker;
        });

        markerClusters.addLayers(markers);
        map.addLayer(markerClusters);
    };

    // Functions for adding or removing markers can be updated or extended as needed
</script>
<div id="map-container"></div>
<div id="map-container"></div>

{% endblock content %}
