{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="col-md-12 recent-map">
    <span class="blogs_head">Sanitas Map</span><hr><br>
    <div class="featured-map">
        <div class="map-home">
            <div class="row">
                <p class="col-md-12 map-hometext">
                    In today's interconnected world, understanding health trends and disease outbreaks in our vicinity is crucial for timely response and preventive measures. To address this need, a cutting-edge mapping system has been developed, integrating advanced technology to display both real-time disease data and predictive analytics. This innovative map not only provides users with a visual representation of disease hotspots but also offers insights into the top five prevalent diseases in the area.
                </p>
                <style>
                    .mapimage{
                        max-height: 15em;
                    }
                </style>
                {% include 'map/components/types.html' %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}