.light{
    margin-top: 1vw;
    margin-left: 0;
    padding: 0;
}
.blog .item:first-child .card{
    border-top-left-radius: 0;
    background-color: var(--navbar-dark-primary);
    color: var(--navbar-light-secondary);
}
.blog .card a{
    border: 1px solid var(--navbar-light-secondary);
    color: var(--navbar-light-secondary);
}
.blog .card a:hover{
    background-color: var(--navbar-light-secondary);
    color: var(--navbar-dark-primary);
}
.blog .cat{
    font-size: 1.4em;
    font-weight: 600;
}