.list_dishes{
    width: 100%;
    margin-top: 1em;
}
.list_dishes td,
.list_dishes th{
    text-align: center;
    border: 1px solid grey;
}
.calorie-data tr{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.calorie-data{
    width: 100%;
}