@media (max-width:500px){
    .nav-bar:nth-child(1){
        display: none;
    }
    body .navbar{
        display: block;
    }
    .nav-bar:nth-child(2),
    .navbar{
        width: calc(100%);
        height: 54px;
        position: fixed;
        bottom: 0vh;
        background: var(--navbar-dark-primary);
        color: var(--navbar-light-primary);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        overflow: hidden;
        user-select: none;
    }
    .contain-itmes {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 40px;
        position: relative;
    }

    #nav-highlight {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20%;
        height: 42px;
        background: var(--background);
        background-attachment: fixed;
        border-radius: 16px 16px 16px 16px;
        transition: transform 0.2s;
        transform: translateX(0%);
    }
    .nav-button{
        margin-left: 0;
    }
    .blogs_head{
        font-size: 1em;
    }
    .donuts .donutsText{
        font-size: 1.4em;
    }
    .home .btn{
        font-size: .7em;
        padding: 0 .5em;
    }
    .cityLocate{
        display: block;
    }
    .ultra li span,
    .ultra li a,
    .ultra li strong{
        font-size: .7em;
    }
    .about-us-para p{
        font-size: .7em;
    }
    .space-filler{
        height: 54px;
        width: 100%;
    }
    .pagination li a.page-link {
        font-size: 12px;
    }
}