{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<section class="light">
    <div class="container-fluid">
        <div class="blogs_head">
        </div>
        {% include 'creation/components/blogfull.html' %}
        <hr>
        <div class="container-fluid">
            <div class="be-comment-block">
                <h1 class="comments-title">Comments {{ comments.count }}</h1>
                {% for comment in comments %}
                    {% include 'creation/components/comment.html' %}
                    <hr>
                {% endfor %}
                {% include 'creation/components/commentform.html' %}
            </div>
        </div>
    </div>
</section>


{% endblock content %}