{% extends 'partials/base.html' %}
{% load static %}

{% block content %}


<div class="container-fluid rounded verifier-profile">
    
    <div class="row">

            <div class="col-md-12">
            
                <br>
                <h4 class="blogs_head">Write Blog</h4><hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="labels">{{ form.title.label_tag }}</label> <br>
                            
                            {{ form.title }}
                            {% if form.title.errors %}
                                <small class="text-danger">{{ form.title.errors.0 }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="labels">Upload BackImage:</label><br>
                            {{form.image}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="labels">{{ form.content.label_tag }}</label>
                            
                            <div class="ck ck-content">
                                {{form.media}}
                                {{form.content|safe}}
                            </div>
                        </div><br>
                        <button type="submit" class="btn" style="width: 10em;">Post Blog</button>
                    </div>
                    <style>
                        #id_title{
                            font-size: 1.2em;
                            border: none;
                            outline: none;
                            border-radius: .2em;
                            width: 100%;
                        }
                        #id_title:focus{
                            border: 1px solid var(--navbar-dark-primary);
                            border-color: none;
                        }
                        #id_title::placeholder{
                            color: #f6fad1;
                            font-weight: 600;
                        }
                        .labels{
                            font-size: 1.2;
                            font-weight: 600;
                        }
                    </style>
                </div>
                </form>
            </div>

            <div class="col-md-12">
                <br>
                <hr>
                <br>
                <span class="blogs_head">Your Posts</span>
                
                <div class="row">
                    <div class="col-md-12">
                        {% if userposts %}
                        {% for p in userposts %}
                        <article class="postcard light blue">
                            <hr><br>
                            <div class="postcard__text">
                                <div class="postcard__title blue">
                                    <img src="{{ p.authorProfile.profile_image.url }}" style="width: 40px;height: 40px;border-radius: 50%;">
                                    <p>
                                        <span class="posttitle">{{ p.title }}</span><br><span class="timedate">{{ p.date_posted }}</span>
                                    </p>
                                </div>
                                <div class="maincontent my-3">
                                    <div class="ck ck-content">{{ p.content|safe }}</div>
                                </div>
                                <ul class="postcard__tagbox">
                                    <li class="tag__item">
                                        <span style="font-size:1.2em;" class="material-symbols-outlined">thumb_up</span>
                                        <span style="font-size: 1.2em;">{{ p.likes.count }}</span>
                                    </li>
                                    <li class="tag__item">
                                        <span style="font-size:1.2em;" class="material-symbols-outlined">comment</span>
                                        <span style="font-size: 1.2em;">{{ comments.count }}</span>
                                    </li>
                                    <li class="tag__item play blue">
                                        <a style="text-decoration: none;color: var(--navbar-dark-secondary);" href="{% url 'creation:blog-detail' p.id %}"><span><i style="margin-right: .2em;"class="fa-brands fa-readme"></i>Read</span></a>
                                    </li>
                                    <li class="tag__item play blue">
                                        <a style="text-decoration: none;color: var(--navbar-dark-secondary);" href="{% url 'creation:blog-delete' p.id %}"><span><i style="margin-right: .2em;"class="fa-solid fa-trash"></i>Delete</span></a>
                                    </li>
                                    <li class="tag__item play blue">
                                        <a style="text-decoration: none;color: var(--navbar-dark-secondary);" href="{% url 'creation:blog-update' p.id %}"><span><i style="margin-right: .2em;"class="fa-solid fa-pen-to-square"></i>Edit</span></a>
                                    </li>
                                </ul>
                            </div>
                        </article>
                        {% endfor %}
                        {% else %}
                        <br>
                        <h5>No Post yet made by you yet!!</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- ... remaining code -->
        </div>
</div>


{% endblock content %}
