{% extends 'partials/base.html' %}
{% load static %}

{% block content %}


<div class="container-fluid rounded verifier-profile">
    
    <div class="row">

            <div class="col-md-12">
            
                <br>
                <h4 class="blogs_head">Write Blog</h4><hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="labels">{{ form.title.label_tag }}</label> <br>
                            
                            {{ form.title }}
                            {% if form.title.errors %}
                                <small class="text-danger">{{ form.title.errors.0 }}</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="labels">Upload BackImage:</label><br>
                            {{form.image}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="labels">{{ form.content.label_tag }}</label>
                            
                            <div class="ck ck-content">
                                {{form.media}}
                                {{form.content|safe}}
                            </div>
                        </div><br>
                        <button type="submit" class="btn" style="width: 10em;">Post Blog</button>
                    </div>
                    <style>
                        #id_title{
                            font-size: 1.2em;
                            border: none;
                            outline: none;
                            border-radius: .2em;
                            width: 100%;
                        }
                        #id_title:focus{
                            border: 1px solid var(--navbar-dark-primary);
                            border-color: none;
                        }
                        #id_title::placeholder{
                            color: grey;
                        }
                        .labels{
                            font-size: 1.2;
                            font-weight: 600;
                        }
                        #id_content{
                            width: 100%;
                        }
                    </style>
                </div>
                </form>
            </div>

            <div class="col-md-12">
                <br>
                <hr>
                <br>
                <span class="blogs_head">Your Posts</span>
                
                <div class="row">
                    <div class="col-md-12">
                        {% if userposts %}
                        {% for post in userposts %}
                            {% include 'creation/components/blogfull.html' %}
                        {% endfor %}
                        {% else %}
                        <br>
                        <h5>No Post yet made by you yet!!</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- ... remaining code -->
        </div>
</div>


{% endblock content %}
