{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-12 recent-updates">
    <br>
    <span class="blogs_head">Latest Updates</span><hr><br>
    <div class="row">
        <div class="col-md-6">
            <div class="cont" onload="changePos()">
                <ul class="ultra">
                    <li class="tab-0">
                        <strong>PAYMENTS</strong> <span class="date">JULY 9 </span></br>
                        <p>Radar will now automatically allow any payment that is protected from being disputed for fraud due to a liability shift. For example, if the payment is verified by 3D Secure.</p>
                    </li>
                    <li class="tab-1">
                        <strong>DASHBOARD</strong> <span class="date">JULY 9 </span></br>
                        <p>Upgrade to version 2.0 of our iOS Dashboard app, which includes a new design, an updated home screen, and iPhone X support.</p>
                    </li>
                    <li class="tab-2"> 
                        <strong>RADAR</strong> <span class="date">JULY 9 </span></br>
                        <p>Rules can now compare numerical metadata. For example, reviews could trigger if <strong><code>::customer_age:: < 21 </code></strong> (if you pass in custom metadata for a customer's age). </p>
                    </li>
                    <li class="tab-3">
                        <strong>DASHBOARD</strong> <span class="date">JULY 9 </span></br>
                        <p>Upgrade to version 2.0 of our iOS Dashboard app, which includes a new design, an updated home screen, and iPhone X support.</p>
                    </li>
                    <li class="tab-4"> 
                        <strong>RADAR</strong> <span class="date">JULY 9 </span></br>
                        <p>Rules can now compare numerical metadata. For example, reviews could trigger if <strong><code>::customer_age:: < 21 </code></strong> (if you pass in custom metadata for a customer's age). </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <span class="blogs_head">About Us</span><hr><br>
            <p style="color: var(--navbar-dark-secondary);">Imagine having access to a real-time map that not only visualizes disease hotspots but also predicts future outbreaks, all at your fingertips. The Disease Heatmap, a groundbreaking mapping system, is set to revolutionize how we monitor and respond to health threats in our communities. </p>
        </div>
    </div>
    
</div>

<div class="col-md-12 recent-map">
    <span class="blogs_head">Sanitas Map</span><hr><br>
    <div class="featured-map">
        <div class="map-home">
            <div class="row">
                <p class="col-md-12 map-hometext">
                    In today's interconnected world, understanding health trends and disease outbreaks in our vicinity is crucial for timely response and preventive measures. To address this need, a cutting-edge mapping system has been developed, integrating advanced technology to display both real-time disease data and predictive analytics. This innovative map not only provides users with a visual representation of disease hotspots but also offers insights into the top five prevalent diseases in the area.
                </p>
                <div class="col-md-4 mb-4">
                    <span class="blogs_head">Sanitas Heat-Map</span>
                    <img class="col-md-12" src="../../static/assets/images/blogs/sample.jpeg" alt="">
                </div>
                <div class="col-md-4 mb-4">
                    <span class="blogs_head">Sanitas Heat-Map</span>
                    <img class="col-md-12" src="../../static/assets/images/blogs/sample.jpeg" alt="">
                </div>
                <div class="col-md-4 mb-4">
                    <span class="blogs_head">Sanitas Heat-Map</span>
                    <img class="col-md-12" src="../../static/assets/images/blogs/sample.jpeg" alt="">
                </div>
                <div class="col-md-4 mb-4">
                    <span class="blogs_head">Sanitas Heat-Map</span>
                    <img class="col-md-12" src="../../static/assets/images/blogs/sample.jpeg" alt="">
                </div>
                <div class="col-md-4 mb-4">
                    <span class="blogs_head">Sanitas Heat-Map</span>
                    <img class="col-md-12" src="../../static/assets/images/blogs/sample.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 recent-blog">
    <span class="blogs_head">Blogs</span><hr><br>
    <div class="featured-carousel owl-carousel">
        {% for p in posts %}
        <div class="item mx-1">
            <div class="card">
                <a href="{% url 'creation:blog-detail' p.id %}">
                    <img src="../../static/assets/images/blogs/sample.jpeg" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <span class="cat">{{ p.title }}</span><br>
                    <time datetime="{{ p.date_posted }}">
                        <i class="fas fa-calendar-alt mr-2"></i><span style="margin-left: .2em;">{{ p.date_posted }}</span>
                    </time>
                    <div class="col-md-12">
                        <a href="{% url 'creation:blog-detail' p.id %}" class="btn">Read More</a>
                        <a href="{% url 'creation:like-post' pk=p.id %}" class="btn"><i class="fa-solid fa-thumbs-up"></i><span style="margin-left: .2em;">{{ p.likes.count }}</span></a>
                        <a href="{% url 'creation:blog-detail' p.id %}" class="btn"><i class="fa-solid fa-message"></i><span style="margin-left: .2em;">{{ comments.count }}</span></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <div class="col-md-12 view-blog">
        <a href="{% url 'creation:blog' %}"><button class="btn">View All</button></a>
    </div>
</div>

{% endblock content %}