{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="col-md-12">
    <br>
    <span class="blogs_head">Today's Cases of Top 7 Diseases!!</span><hr><br>
    <div class="row">
        {% for disease_name, disease_cases in top_diseases %}
        <div class="col-md-3 donuts">
            <canvas id="donutChart{{ forloop.counter }}" width="100" height="100"></canvas>
            <span class="donutsText">
                <span style="display: flex;align-items: center;flex-direction: column;line-height: .7em;justify-content: center;">
                    {{ disease_cases }}
                    <span style="font-size: .5em;color: rgb(216, 78, 78);">cases</span>
                </span>
                <span class="material-symbols-outlined" style="font-size: 1em;color: rgb(216, 78, 78);">straight </span>
                <br>
            </span>
            <span style="top: 0%;position: absolute;left: 0%;right: 0%;text-align: center;font-size: 1.3em;display: flex;align-items: center;justify-content: center;">
                <span class="material-symbols-outlined"> microbiology </span>{{disease_name}}
            </span>
        </div>
        <script>
            const donutChart{{ forloop.counter }} = document.getElementById('donutChart{{ forloop.counter }}').getContext('2d');
            const donutChart{{ forloop.counter }}Data = {
                datasets: [{
                    data: [{{ disease_cases }},{{total_cases_24hr}}],
                    backgroundColor: ['#12372a', '#adbc9f']
                }]
            };
            const donutChart{{ forloop.counter }}Config = {
                type: 'doughnut',
                data: donutChart{{ forloop.counter }}Data,
                options: {}
            };
            new Chart(donutChart{{ forloop.counter }}, donutChart{{ forloop.counter }}Config);
        </script>
        {% endfor %}

        <div class="col-md-3 donuts">
            <div class="measure-btns">
                <a href="" class="btn"><i class="material-symbols-outlined">home_health</i> Preventives</a>
                <a href="" class="btn"><i class="material-symbols-outlined">headset_mic</i> Consult</a>
                <a href="" class="btn"><i class="material-symbols-outlined">Travel_Explore</i> See Your Area</a>
            </div>
        </div>
    </div>
    <br>

</div>
<div class="col-md-12 recent-updates">
    <br>
    <span class="blogs_head">Latest Updates</span><hr><br>
    <div class="row">
        <div class="col-md-6">
            <div class="cont" onload="changePos()">
                <ul class="ultra">
                    {% for ru in recentUpdate %}
                    <li class="tab-{{ forloop.counter }}">
                        <strong>{{ru.title}}</strong> <span class="date">{{ru.date}} </span></br>
                        <span>{{ru.content}}</span><br>
                        <a href="{{ru.visitingLink}}" class="btn">Know More</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <span class="blogs_head">About Us</span><hr><br>
            <p style="color: var(--navbar-dark-secondary);">Imagine having access to a real-time map that not only visualizes disease hotspots but also predicts future outbreaks, all at your fingertips. The Disease Heatmap, a groundbreaking mapping system, is set to revolutionize how we monitor and respond to health threats in our communities. </p>
            <a href="#" class="btn">Know More</a>
        </div>
    </div>
    
</div>
<div class="col-md-12 recent-blog">
    <span class="blogs_head">Blogs</span><hr><br>
        {% for p in blogs %}
        <div class="item mx-1 col-md-12">
            <div class="card" style="overflow: hidden;">
                <div class="row col-md-12">
                    <a class="col-md-4" href="{% url 'creation:blog-detail' p.id %}">
                        <img class="col-md-4" src="{{ p.image.url }}" class="card-img-top" alt="..." style="min-width: 100%;max-height: 260px;object-fit: cover;">
                    </a>
                    <div class="card-body col-md-8" style="padding: 10px;">
                        <div class="my-1">
                            <div class="ck ck-content" style="max-height: 100px;overflow: hidden;">{{ p.content|safe }}</div>
                        </div>
                        <time datetime="{{ p.date_posted }}" style="color: var(--navbar-dark-primary); font-size: 0.9em;">
                            <i class="fas fa-calendar-alt mr-2"></i><span style="margin-left: .2em;">{{ p.date_posted }}</span>
                        </time>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <a href="{% url 'creation:blog-detail' p.id %}" class="btn btn-primary">Read More</a>
                            <a href="{% url 'creation:like-post' pk=p.id %}" class="btn btn-secondary"><i class="fa-solid fa-thumbs-up"></i><span style="margin-left: .2em;">{{ p.likes.count }}</span></a>
                            <a href="{% url 'creation:blog-detail' p.id %}" class="btn btn-secondary"><i class="fa-solid fa-message"></i><span style="margin-left: .2em;">{{ comments.count }}</span></a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div><br>
        {% endfor %}
</div>

<style>
    .pagination-outer {
        text-align: center;
    }

    .pagination {
        display: inline-flex;
        position: relative;
    }

    .pagination:before {
        content: "";
        width: 100%;
        height: 2px;
        background: #e8e8e8;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .pagination li a.page-link {
        padding: 5px 15px;
        margin-right: 15px;
        background: var(--navbar-light-secondary);
        border: 1px solid #e8e8e8;
        border-radius: 5px;
        box-shadow: 0 8px 6px -9px #5b5f5f;
        font-size: 17px;
        color: #686c6c;
    }

    .pagination li:first-child a.page-link {
        margin-right: 30px;
    }

    .pagination li:last-child a.page-link {
        margin: 0 0 0 15px;
    }

    .pagination li.active a.page-link,
    .pagination li a.page-link:hover {
        background: var(--navbar-dark-secondary);
        border-color: var(--navbar-dark-primary);
        color: #fff;
    }

    @media only screen and (max-width: 479px) {
        .pagination {
            display: block;
            overflow: auto;
        }

        .pagination:before {
            display: none;
        }

        .pagination li {
            display: inline-block;
        }
    }
</style>

<div class="demo">
    <nav class="pagination-outer" aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                {% if blogs.has_previous %}
                <a href="?page={{ blogs.previous_page_number }}" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">Prev</span>
                </a>
                {% endif %}
            </li>
            <li>
                {% for page in paginator.page_range %}
                {% if page == paginator.number %}
                <li class="page-item active"><a class="page-link">{{ page }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{ page }}</a></li>
                {% endif %}
                {% endfor %}
            </li>
            <li>
                {% if blogs.has_next %}
                <a href="?page={{ blogs.next_page_number }}" class="page-link" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
                {% endif %}
            </li>
        </ul>
    </nav>
</div>


{% endblock content %}