{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

<div class="col-md-12 profile">
    <div class="col-md-12">
        <br>
        <div class="background-image">
            {% if not sanitizer_obj.is_verified %}
            <img loading="lazy" src="{{userprofile.profile_image.url}}" alt="" class="profile-background">
            <div class="profile-image">
                <img loading="lazy" src="{{userprofile.profile_image.url}}" alt="">
            </div>
            {% else %}
            <img loading="lazy" src="{{sanitizer_obj.profile_image.url}}" alt="" class="profile-background">
            <div class="profile-image">
                <img loading="lazy" src="{{sanitizer_obj.profile_image.url}}" alt="">
            </div>
            {% endif %}
            <div class="grp-btns">
                {% if not sanitizer_obj.is_verified %}
                <a href="{% url 'plofile:sanitizer' %}" class="edit-profile"><span class="material-symbols-outlined">edit</span>Become Sanitizer!!</a>
                {% endif %}
                <a href="{% url 'plofile:verifier_edit' %}" class="edit-profile"><span class="material-symbols-outlined">edit</span>Edit Profile</a>
                <a href="{% url 'userauths:sign-out' %}" class="edit-profile"><i class="fa-solid fa-right-from-bracket"></i>Log-out</a>
            </div>
        </div>
        <div class="col-md-12 col-12">
            <br>
            {% if not sanitizer_obj.is_verified %}
            <div class="row text-center basicInfo px-3 g-3">
                <div class="col-md-3 col-6"></div>
                <div class="col-md-3 col-6">{{ userprofile.name }} {{ userprofile.surname }}</div>
                <div class="col-md-3 col-6">{{ userprofile.email }}</div>
                <div class="col-md-3 col-6">{{ userprofile.state_region }}</div>
            </div>
            {% else %}
            <div class="row text-center basicInfo px-3 g-3">
                <div class="col-md-3 col-6"></div>
                <div class="col-md-3 col-6">{{ sanitizer_obj.name }}</div>
                <div class="col-md-3 col-6">{{ sanitizer_obj.email }}</div>
                <div class="col-md-3 col-6">{{ sanitizer_obj.phone }}</div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-12 col-12">
            <br>
            <div class="col-md-12 col-12">
                <div class="row postProfile px-3 gx-3">
                    <div class="col-md-3 col-4 active postProfilesub">Basic Info</div>
                    <div class="col-md-3 col-4 postProfilesub">Sphere ({{topsphere.count}})</div>
                    <div class="col-md-3 col-4 postProfilesub">Post ({{userposts.count}})</div>
                    {% if sanitizer_obj.is_verified %}
                    <div class="col-md-3 col-12 postProfilesub">Data Submission</div>
                    {% else %}
                    <div class="col-md-3" style="border: none;border-bottom: 1px solid #12372a;background-color: transparent;"></div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12">
                {% if not sanitizer_obj.is_verified %}
                <div class="row postProfileDetail mx-2 active">
                    <span><b>Phone No : </b>{{ userprofile.mobile_number }}</span><hr>
                    <span><b>Address : </b>{{ userprofile.address }} ( {{userprofile.postcode}} )</span><hr>
                    <span><b>Education : </b>{{ userprofile.education }}</span><hr>
                    <span><b>Country : </b>{{ userprofile.country }}/{{ userprofile.state_region }}</span>
                </div>
                {% else %}
                <div class="row postProfileDetail mx-2 active">
                    <span><b>Longitude : </b>{{ sanitizer_obj.longitude }}</span><hr>
                    <span><b>Latitude : </b>{{ sanitizer_obj.latitude }}</span><hr>
                    <span><b>Address : </b>{{ sanitizer_obj.street }} ( {{sanitizer_obj.zip}} ) {{sanitizer_obj.city}} {{sanitizer_obj.state}} </span><hr>
                    <span><b>Contact Person : </b>{{ sanitizer_obj.contactperson }}</span><hr>
                    <span><b>Contact Person Phone: </b>{{ sanitizer_obj.CPphone }}</span><hr>
                    <span><b>Contact Person Email: </b>{{ sanitizer_obj.CPemail }}</span><hr>
                </div>
                {% endif %}
                <div class="row postProfileDetail mx-2">
                    <span class="col-md-12 col-12"><b>Total Sphere Post :</b> {{topsphere.count}}</span>
                    <div class="item mx-1 col-md-12">
                        {% for sphere in topsphere %}
                        {% include 'plofile/components/sphere.html' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row postProfileDetail mx-2">
                    <span class="col-md-12 col-12"><b>Total Post :</b> {{userposts.count}}</span>
                    {% for p in blogs %}
                    {% include 'plofile/components/blogouter.html' %}
                    <br>
                    {% endfor %}
                </div>
                {% if sanitizer_obj.is_verified %}
                <div class="row postData mx-2 postProfileDetail">
                    {% if not last_post_time > 0 %}
                    {% include 'plofile/components/dataform.html' %}
                    {% else %}
                    <span class="blogs_head">You have already posted trending data within the last 24 hours.</span>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <script>
            const postProfile = document.querySelectorAll('.postProfile .postProfilesub');
            const postProfileDetail = document.querySelectorAll('.postProfileDetail');

            postProfile.forEach((item, index) => {
                item.addEventListener('click', function() {
                    postProfile.forEach(item => item.classList.remove('active'));
                    postProfileDetail.forEach(item => item.classList.remove('active'));

                    this.classList.add('active');
                    postProfileDetail[index].classList.add('active');
                });
            });
        </script>
    </div>
</div>

{% endblock content %}