{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets/css/profile.css' %}">
<div class="col-md-12 profile">
    <div class="col-md-12">
        <br>
        <div class="background-image">
            {% if not sanitizer_obj.is_verified %}
            <img src="{{userprofile.profile_image.url}}" alt="" class="profile-background">
            <div class="profile-image">
                <img src="{{userprofile.profile_image.url}}" alt="">
            </div>
            {% else %}
            <img src="{{sanitizer_obj.profile_image.url}}" alt="" class="profile-background">
            <div class="profile-image">
                <img src="{{sanitizer_obj.profile_image.url}}" alt="">
            </div>
            {% endif %}
            <div class="grp-btns">
                {% if not sanitizer_obj.is_verified %}
                <a href="{% url 'plofile:sanitizer' %}" class="edit-profile"><span class="material-symbols-outlined">edit</span>Become Sanitizer!!</a>
                {% endif %}
                <a href="{% url 'plofile:verifier_edit' %}" class="edit-profile"><span class="material-symbols-outlined">edit</span>Edit Profile</a>
            </div>
        </div>
        <div class="col-md-12">
            <br>
            {% if not sanitizer_obj.is_verified %}
            <div class="row text-center basicInfo px-3 g-3">
                <div class="col-md-3"></div>
                <div class="col-md-3">{{ userprofile.name }} {{ userprofile.surname }}</div>
                <div class="col-md-3">{{ userprofile.email }}</div>
                <div class="col-md-3">{{ userprofile.state_region }}</div>
            </div>
            {% else %}
            <div class="row text-center basicInfo px-3 g-3">
                <div class="col-md-3"></div>
                <div class="col-md-3">{{ sanitizer_obj.name }}</div>
                <div class="col-md-3">{{ sanitizer_obj.email }}</div>
                <div class="col-md-3">{{ sanitizer_obj.phone }}</div>
            </div>
            {% endif %}
        </div>
        <div class="col-md-12">
            <br>
            <div class="col-md-12">
                <div class="row postProfile px-3 gx-3">
                    <div class="col-md-3 active postProfilesub">Basic Info</div>
                    {% if not sanitizer_obj.is_verified %}
                    <div class="col-md-9 postProfilesub">Post ({{userposts.count}})</div>
                    {% else %}
                    <div class="col-md-9 postProfilesub">Data Submission</div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12">
                {% if not sanitizer_obj.is_verified %}
                <div class="row postProfileDetail mx-2 active">
                    <span><b>Phone No : </b>{{ userprofile.mobile_number }}</span><hr>
                    <span><b>Address : </b>{{ userprofile.address }} ( {{userprofile.postcode}} )</span><hr>
                    <span><b>Education : </b>{{ userprofile.education }}</span><hr>
                    <span><b>Country : </b>{{ userprofile.country }}/{{ userprofile.state_region }}</span>
                </div>
                {% else %}
                <div class="row postProfileDetail mx-2 active">
                    <span><b>Address : </b>{{ sanitizer_obj.street }} ( {{sanitizer_obj.zip}} ) {{sanitizer_obj.city}} {{sanitizer_obj.state}} </span><hr>
                    <span><b>Contact Person : </b>{{ sanitizer_obj.contactperson }}</span><hr>
                    <span><b>Contact Person Phone: </b>{{ sanitizer_obj.CPphone }}</span><hr>
                    <span><b>Contact Person Email: </b>{{ sanitizer_obj.CPemail }}</span><hr>
                </div>
                {% endif %}
                {% if not sanitizer_obj.is_verified %}
                <div class="row postProfileDetail mx-2">
                    <span class="col-md-12"><b>Total Post :</b> {{userposts.count}}</span>
                    {% for p in blogs %}
                    <div class="item px-2 my-2 col-md-12">
                        <div class="card" style="overflow: hidden;background-color: transparent;">
                            <div class="row col-md-12">
                                <a class="col-md-4" href="{% url 'creation:blog-detail' p.id %}">
                                    <img class="col-md-4" src="{{ p.image.url }}" class="card-img-top" alt="..." style="min-width: 100%;max-height: 260px;object-fit: cover;">
                                </a>
                                <div class="card-body col-md-8" style="padding: 10px;">
                                    <div class="my-1">
                                        <div class="ck ck-content" style="max-height: 100px;overflow: hidden;">{{ p.content|safe }}</div>
                                    </div>
                                    <time datetime="{{ p.date_posted }}" style="color: var(--navbar-dark-primary); font-size: 0.9em;">
                                        <i class="fas fa-calendar-alt mr-2"></i><span style="margin-left: .2em;">{{ p.date_posted }}</span>
                                    </time>
                                    <div class="col-md-12" style="margin-top: 10px;">
                                        <a href="{% url 'creation:blog-detail' p.id %}" class="btn btn-primary">Read More</a>
                                        <a href="{% url 'creation:like-post' pk=p.id %}" class="btn btn-secondary"><i class="fa-solid fa-thumbs-up"></i><span style="margin-left: .2em;">{{ p.likes.count }}</span></a>
                                        <a href="{% url 'creation:blog-detail' p.id %}" class="btn btn-secondary"><i class="fa-solid fa-message"></i><span style="margin-left: .2em;">{{ comments.count }}</span></a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div><br>
                    {% endfor %}
                </div>
                {% else %}
                <div class="row postData mx-2 postProfileDetail">
                    {% if not last_post_time > 0 %}
                    <form method="post">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        <br>
                        <div class="row">
                            <table class="col-md-7" style="overflow: hidden;">
                                <thead>
                                    <tr class="col-md-12 row text-center mb-3">
                                        <th class="col-md-4" style="border-bottom: 1px solid grey;">Serial Number</th>
                                        <th class="col-md-4" style="border-bottom: 1px solid grey;">Disease Name</th>
                                        <th class="col-md-4" style="border-bottom: 1px solid grey;">Cases</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for form in formset %}
                                    <tr class="col-md-12 row text-center mb-2">
                                        <td class="col-md-4">{{ forloop.counter }}.</td>
                                        <td class="col-md-4">{{ form.name }}</td>
                                        <td class="col-md-4">{{ form.cases }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="col-md-5">
                                <img src="../../static/assets/images/sanitizers/dataSub.svg" alt="">
                            </div>
                        </div>
                        <br>
                        <button style="padding: .2em 0em;" class="btn mb-3" type="submit">Submit</button>
                    </form>
                
                    {% else %}
                    <span class="blogs_head">You have already posted trending data within the last 24 hours.</span>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <script>
            const postProfile = document.querySelectorAll('.postProfile .postProfilesub');
            const postProfileDetail = document.querySelectorAll('.postProfileDetail');

            postProfile.forEach((item, index) => {
                item.addEventListener('click', function() {
                    postProfile.forEach(item => item.classList.remove('active'));
                    postProfileDetail.forEach(item => item.classList.remove('active'));

                    this.classList.add('active');
                    postProfileDetail[index].classList.add('active');
                });
            });
        </script>
    </div>
</div>

{% endblock content %}