{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-12">
    <div class="row" style="align-items: center;">
        <div class="col-md-12">
            <br>
            <span class="blogs_head">Welcome to our Registration of Becoming a Sanitizer!</span><hr><br>
            <p>We're excited to have you join our community of sanitizer providers. By becoming a registered sanitizer, you'll be able to share your services with a wider audience and help promote healthy and safe environments. <br><br>
                To get started, please complete the registration form below. We'll need some basic information about your Hospital, including name, contact information and other.</p>
        </div>
        <div class="col-md-6">
            <img loading="lazy" style="object-fit: contain;" src="../../static/assets/images/sanitizers/sanitizerForm.svg" alt="">
        </div>
        <div class="col-md-6">
        {% include 'plofile/components/sanitizerform.html' %}
        </div>
    </div>
</div>

{% endblock content %}