{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-12">
    <div class="row" style="align-items: center;">
        <div class="col-md-12">
            <br>
            <span class="blogs_head">Welcome to our Registration of Becoming a Sanitizer!</span><hr><br>
            <p>We're excited to have you join our community of sanitizer providers. By becoming a registered sanitizer, you'll be able to share your services with a wider audience and help promote healthy and safe environments. <br><br>
                To get started, please complete the registration form below. We'll need some basic information about your Hospital, including name, contact information and other.</p>
        </div>
        <div class="col-md-6">
            <img style="object-fit: contain;" src="../../static/assets/images/sanitizers/sanitizerForm.svg" alt="">
        </div>
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <style>
                    input{
                        width: 100%;
                    }
                    .checkTC{
                        display: flex;
                        align-items: center;
                        margin-top: 1em;
                    }
                    .checkTC input{
                        width: 1em;
                        height: 1em;
                        margin-right: .3em;
                    }
                </style>
                <label for="hospitalName"><b>Sanitizer Name:</b></label><br>
                {{ sform.name }}<br>
            
                <label for="address"><b>Address:</b></label><br>
                <div style="display: flex;gap: .2em;">
                    {{ sform.street }}<br>
                    {{ sform.zip }}<br>
                    {{ sform.city }}<br>
                    {{ sform.state }}<br>
                </div>
                <label for="SanitizerContact"><b>Contact Person:</b></label><br>
                {{ sform.contactperson }}<br>
                <label for="contactEmail"><b>Sanitizer Email:</b></label><br>
                {{ sform.email }}<br>
                <label for="contactPhone"><b>Sanitizer Contact:</b></label><br>
                {{ sform.phone }}<br>
                <div class="certifiy">
                    <label for="certification"><b>Accreditation Certificate : </b></label>
                    {{ sform.certificate }}
                </div>
                <div class="checkTC">
                    {{ sform.isChecked }}
                    <label for="agreement">I have read and agreed to the data sharing agreement<a href="{% url 'plofile:t&c' %}" target="_blank">T&C</a>.</label><br>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>


{% endblock content %}